.cards {
	.row {
		background: $white;
	}
	.card-body {
		z-index: 2;
		a {
			color: $black;
			&:hover {
				text-decoration: underline;
				color: $cyan;
			}
		}
	}
	.card-quick-link {
		font-size: large;
		font-family: $redhat-display;
		text-align: center;
	}
	.card-text {
		font-size: large;
		font-family: $redhat-display;
		text-align: justify;
	}
}
