.clipboard {
	font-size: large;
	font-family: $redhat-display;
	text-align: left;
	pre {
		background-color: $white;
		color: $black;
		padding-top: 10px;
		padding-left: 20px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		width: 90%;
		text-align: left;
		display: inline-block;
	}
	code {
		background: none;
	}
	.btn {
		background-color: $cyan;
		border: 0px;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		&:hover {
			background-color: $white;
		}
	}
	.fa-clipboard {
		color: $white;
        background-color: $pool;
	}
}
