body,
html {
    background: #102441;
    color: #ffffff;
    font-weight: 300;
    font-family: RedHatText, "Red Hat Text", Overpass, "Helvetica Neue", Arial,
        sans-serif;
}

nav {
    background: #102441;
    color: #fff;
    font-size: 1.25rem;
}

nav .navbar-toggler {
    color: #fff;
    outline: none;
}

nav .navbar-toggler .icon-bar {
    display: block;
    width: 1.375rem;
    height: 0.125rem;
    border-radius: 1px;
    background-color: #fff;
    transition: all 300ms ease-in-out;
    transform: rotate(0);
    opacity: 1;
    margin-top: 0.3125rem;
}

nav .navbar-toggler .icon-bar.top {
    margin-top: 0.625rem;
    transform: rotate(45deg);
}

nav .navbar-toggler .icon-bar.center {
    opacity: 0;
}

nav .navbar-toggler .icon-bar.bottom {
    margin-top: -0.5rem;
    transform: rotate(-45deg);
}

nav .navbar-toggler.collapsed .icon-bar {
    transform: rotate(0);
    opacity: 1;
    margin-top: 0.5rem;
}

nav .nav-link {
    color: #ffffff;
    font-size: 1rem;
}

.navbar .container {
    max-width: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue",
        Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.subhead {
    font-size: 1.5rem;
    font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue",
        Arial, sans-serif;
}

.cards .row {
    background: #102441;
}

.cards .card-body {
    z-index: 2;
}

.cards .card-body a {
    color: #ffffff;
}

.cards .card-body a:hover {
    text-decoration: underline;
    color: #004080;
}

.cards .card-quick-link {
    font-size: large;
    font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue",
        Arial, sans-serif;
    text-align: center;
}

.cards .card-text {
    font-size: large;
    font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue",
        Arial, sans-serif;
    text-align: justify;
}

.cards .btn {
    background-color: #102441;
    border: 0px;
    cursor: pointer;
    font-size: medium;
    font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue",
        Arial, sans-serif;
    font-weight: normal;
    text-align: left;
}

.cards .btn:hover {
    color: #fff !important;
    background-color: #5cbec1;
}

.clipboard {
    font-size: large;
    font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue",
        Arial, sans-serif;
    text-align: left;
}

.clipboard pre {
    background-color: #5cbec1;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 90%;
    text-align: left;
    display: inline-block;
}

.clipboard code {
    background: none;
}

.clipboard .btn {
    background-color: #5cbec1;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.clipboard .btn:hover {
    background-color: #5cbec1;
}

.clipboard .fa-clipboard {
    color: #ffffff
}

.footer iframe {
    width: 100%;
    height: 800px;
    border: 0px;
}

@media (min-width: 768px) {
    nav.main .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}