<nav class="navbar navbar-expand-md p-1 docbar">
  <div class="container">
    <span class="docbar d-flex justify-content-center">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ links.site.core }}">Ansible core</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.site.ecosystem }}">Ansible ecosystem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.site.platform }}">Red Hat Ansible Automation Platform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.site.community }}">Join the community</a>
        </li>
      </ul>
    </span>
  </div>
</nav>
