<div class="content-slim redhat-footer">
  <div class="grid-wrapper">
    <span class="licence">
      <a href="https://www.redhat.com/en/about/privacy-policy">Red Hat privacy policy</a> |
      <a href="https://www.redhat.com/en/about/all-policies-guidelines" target="_blank">All policies and guidelines</a> |
    </span>
    <span class="redhat">
      A Red Hat sponsored project
    </span>
    <span class="redhat-logo">
      <a href="https://www.redhat.com/" target="_blank"><img src="static/images/redhat_reversed.svg"></a>
    </span>
  </div>
</div>