{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <p>
        The Ansible community documentation site has recently changed.
        The content on this page has moved to <a href="{{ links.site.index }}">Ansible Community Documentation</a> and <a href="{{ links.site.core }}">Ansible Core</a>.
        You can also find older versions of the content in the <a href="{{ links.site.community_archive }}">Ansible community documentation archive</a>.
    </p>
  </div>
</div>
{% endblock %}
