{% extends "_base.html" %}
{% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg">
      </div>
      <div class="width-8-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.translations.tower_ja.title }}</h2>
          <p>{{ pages.translations.tower_ja.text }}</p>
          <p class="feedback">{{ pages.feedback }}</p>
        </div>
      </div>
      <!-- Start old docsite toggle. -->
      <div class="width-1-12 width-12-12-m">
        <div class="toggle">
          <p>{{ pages.take_me_back }}&nbsp;
            <label class="switch">
              <input type="checkbox" id="page-toggle">
              <span class="slider round"></span>
            </label>
          </p>
        </div>
      </div>
      <!-- End old docsite toggle. -->
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.3.0 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_3_O.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_3_O.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_3_O.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_3_O.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_3_O.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_3_O.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.2.2 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.2.1 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_1.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_1.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_1.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_1.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_1.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_1.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.2.0 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_0.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_0.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_0.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_0.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_0.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_2_0.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.1.4 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_4.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_4.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_4.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_4.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_4.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_4.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.1.3 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_3.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_3.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_3.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_3.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_3.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_3.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.1.2 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.1.1 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_1.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_1.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_1.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_1.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_1.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_1.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.1.0 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_0.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_0.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_0.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_0.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_0.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_1_0.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 4.0.0 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_4_0_0.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_0_0.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_0_0.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_0_0.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_0_0.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_4_0_0.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.8.5 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_5.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_5.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_5.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_5.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_5.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_5.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_5.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_5.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.8.4 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_4.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_4.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_4.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_4.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_4.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_4.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_4.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_4.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.8.3 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_3.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_3.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_3.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_3.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_3.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_3.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_3.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_3.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.8.2 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_2.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_2.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.8.1 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_1.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_1.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_1.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_1.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_1.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_1.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_1.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_1.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.8.0 (Supported)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_0.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_0.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_0.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_0.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_0.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_0.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_0.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_8_0.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.7.2 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_2.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_2.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.7.1 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_1.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_1.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_1.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_1.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_1.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_1.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_1.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_1.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.7.0 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_0.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_0.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_0.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_0.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_0.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_0.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_0.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_7_0.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.6.4 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_4.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_4.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_4.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_4.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_4.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_4.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_4.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_4.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.6.3 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_3.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_3.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_3.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_3.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_3.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_3.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_3.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_3.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.6.2 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_2.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_2.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.6.0 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_0.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_0.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_0.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_0.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_0.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_0.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_0.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_6_0.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.5.2 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_2.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_2.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.5.1 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_1.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_1.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_1.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_1.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_1.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_1.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_1.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_5_1.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.4.3 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_3.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_3.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_3.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_3.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_3.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_3.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_3.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_3.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.4.2 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_2.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_2.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_4_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.3.2 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_3_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_3_2.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_3_2.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_3_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_3_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_3_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_3_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_3_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.2.4 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_4.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_4.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_4.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_4.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_4.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_4.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_4.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_4.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.2.2 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_2.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_2.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_2.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_2.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_2.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_2.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_2.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_2_2.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>Automation Controller Version 3.1.4 (End of Maintenance Support - EOL)</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.translations.tower_ja.v_3_1_4.quickstart }}" role="button">{{ pages.translations.tower_ja.quickstart }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_1_4.quickinstall }}" role="button">{{ pages.translations.tower_ja.quickinstall }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_1_4.installandreference }}" role="button">{{ pages.translations.tower_ja.installandreference }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_1_4.release_notes }}" role="button">{{ pages.translations.tower_ja.release_notes }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_1_4.api }}" role="button">{{ pages.translations.tower_ja.api }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_1_4.administration }}" role="button">{{ pages.translations.tower_ja.administration }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_1_4.userguide }}" role="button">{{ pages.translations.tower_ja.userguide }}</a>
          <a class="btn" href="{{ links.translations.tower_ja.v_3_1_4.upgrade }}" role="button">{{ pages.translations.tower_ja.upgrade }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
