{% extends "_base.html" %}
{% block body %}
<section class="cards pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <!--TEST - change this back if we use this hack to pointto real docs -->
        <a href="https://docs.ansible.com/ansible/latest/index.html">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Community Documentation</h4>
              <p class="card-text">
                Complete documentation for Ansible core and collections.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://docs.ansible.com/ansible/latest/index.html"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a
          href="https://docs.ansible.com/ansible/latest/installation_guide/index.html"
        >
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Installing Ansible</h4>
              <p class="card-text">
                Review system requirements and then install Ansible in your environment.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://docs.ansible.com/ansible/latest/installation_guide/index.html"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a
          href="https://docs.ansible.com/ansible/latest/getting_started/index.html"
        >
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Getting Started</h4>
              <p class="card-text">
                Learn the basics of Ansible in a few easy steps.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://docs.ansible.com/ansible/latest/getting_started/index.html"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a
          href="https://docs.ansible.com/ansible/latest/inventory_guide/index.html"
        >
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Building Inventories</h4>
              <p class="card-text">
                Create inventories that list and describe the infrastructure that you want to automate.
            </p>
            </div>
            <div class="card-footer">
              <a
                href="https://docs.ansible.com/ansible/latest/inventory_guide/index.html"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a
          href="https://docs.ansible.com/ansible/latest/playbook_guide/index.html"
        >
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Creating Playbooks</h4>
              <p class="card-text">
                Develop playbooks that instruct Ansible to automate the infrastructure in your inventory.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://docs.ansible.com/ansible/latest/playbook_guide/index.html"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a
          href="http://docs.ansible.com/ansible/latest/dev_guide/index.html"
        >
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Developer Guide</h4>
              <p class="card-text">
                Extend Ansible with custom modules and plugins, add functionality
                to an existing module, or expand test coverage.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="http://docs.ansible.com/ansible/latest/dev_guide/index.html"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a
          href="collections.html"
        >
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Collections</h4>
              <p class="card-text">
                Ansible collections extend the benefits of simple, powerful,
                agentless automation.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="collections.html"
                class="btn btn-outline-black"
                >Learn more</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="core-translated-ja.html">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">
                日本語ドキュメント
              </h4>
              <p class="card-text">
                Ansible Core documentation is translated to Japanese.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="core-translated-ja.html"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}