{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>
      <div class="width-8-12 width-12-12-m">
        <h2 class="page-title">{{ pages.community.title }}</h2>
        <p class="intropara">{{ pages.community.intro }}</p>
        <p class="feedback">{{ pages.feedback }}</p>
      </div>
      <!-- Start old docsite toggle. -->
      <div class="width-1-12 width-12-12-m">
        <div class="toggle">
          <p>{{ pages.take_me_back }}</p>
          <label class="switch">
            <input type="checkbox" id="page-toggle">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <!-- End old docsite toggle. -->
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.community.collaborate.title }}</h3>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.community.collaborate.conduct }}" role="button">{{ pages.community.collaborate.conduct }}</a>
          <a class="btn" href="{{ links.community.collaborate.help }}" role="button">{{ pages.community.collaborate.help }}</a>
          <a class="btn" href="{{ links.site.ecosystem }}" role="button">{{ pages.community.collaborate.ecosystem }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.community.communicate.title }}</h3>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.community.communicate.matrix }}" role="button">{{ pages.community.communicate.matrix }}</a>
          <a class="btn" href="{{ links.community.communicate.public_meetings }}" role="button">{{ pages.community.communicate.public_meetings }}</a>
          <a class="btn" href="{{ links.community.communicate.communication_guide }}" role="button">{{ pages.community.communicate.communication_guide }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.community.decide.title }}</h3>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.community.decide.community_topics }}" role="button">{{ pages.community.decide.community_topics }}</a>
          <a class="btn" href="{{ links.community.decide.working_groups }}" role="button">{{ pages.community.decide.working_groups }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.community.follow.title }}</h3>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.community.follow.bullhorn }}" role="button">{{ pages.community.follow.bullhorn }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
