{% extends "_base.html" %}
{% block body %}
<section class="cards pt-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <!--TEST - change this back if we use this hack to pointto real docs -->
          <a href="https://docs.ansible.com/ansible-core/devel/index.html">
            <div class="card border">
              <div class="card-body">
                <h4 class="card-title">Ansible Core Documentation</h4>
                <p class="card-text">
                  Ansible Core is the language and runtime that powers Ansible
                  automation. You can use Ansible Core directly or customize
                  and extend it with collections.
                </p>
              </div>
              <div class="card-footer">
                <a
                  href="https://docs.ansible.com/ansible-core/devel/index.html"
                  class="btn btn-outline-black"
                  >Visit the documentation</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="https://docs.ansible.com/ansible-core/devel/dev_guide/testing_running_locally.html">
            <div class="card border">
              <div class="card-body">
                <h4 class="card-title">Ansible Test</h4>
                <p class="card-text">
                  Ansible Test is a command-line tool for performing sanity,
                  unit, and integration testing with Ansible Core and
                  collections.
                </p>
              </div>
              <div class="card-footer">
                <a
                  href="https://docs.ansible.com/ansible-core/devel/dev_guide/testing_running_locally.html"
                  class="btn btn-outline-black"
                  >Visit the documentation</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="core-translated-ja.html">
            <div class="card border">
              <div class="card-body">
                <h4 class="card-title">
                  日本語ドキュメント - Japanese Translations
                </h4>
                <p class="card-text">
                  For those who need translations of the documentation.
                </p>
              </div>
              <div class="card-footer">
                <a
                  href="core-translated-ja.html"
                  class="btn btn-outline-black"
                  >Learn more</a
                >
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</section>
{% endblock %}