{% extends "_base.html" %}
{% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>
      <div class="width-8-12 width-12-12-m">
        <h2 class="page-title">{{ pages.translations.core_ja.title }}</h2>
        <p class="intropara">{{ pages.translations.core_ja.text }}</p>
        <p class="feedback">{{ pages.feedback }}</p>
      </div>
      <!-- Start old docsite toggle. -->
      <div class="width-1-12 width-12-12-m">
        <div class="toggle">
          <p>{{ pages.take_me_back }}&nbsp;
            <label class="switch">
              <input type="checkbox" id="page-toggle">
              <span class="slider round"></span>
            </label>
          </p>
        </div>
      </div>
      <!-- End old docsite toggle. -->
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.translations.core_ja.v_2_14 }}</h5>
        <a class="btn" href="{{ links.translations.core_ja.v_2_14 }}" role="button">
            {{ pages.buttons.visit_docs }}
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.translations.core_ja.v_2_13 }}</h5>
        <a class="btn" href="{{ links.translations.core_ja.v_2_13 }}" role="button">
            {{ pages.buttons.visit_docs }}
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.translations.core_ja.v_2_12 }}</h5>
        <a class="btn" href="{{ links.translations.core_ja.v_2_12 }}" role="button">
            {{ pages.buttons.visit_docs }}
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.translations.core_ja.v_2_11 }}</h5>
        <a class="btn" href="{{ links.translations.core_ja.v_2_11 }}" role="button">
            {{ pages.buttons.visit_docs }}
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.translations.core_ja.v_2_9 }}</h5>
        <a class="btn" href="{{ links.translations.core_ja.v_2_9 }}" role="button">
            {{ pages.buttons.visit_docs }}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}