{% extends "_base.html" %}
{% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>
      <div class="width-8-12 width-12-12-m">
        <h2 class="page-title">{{ pages.core.title }}</h2>
        <p class="intropara">{{ pages.core.intro }}</p>
        <p class="feedback">{{ pages.feedback }}</p>
      </div>
      <div class="width-1-12 width-12-12-m">
        <p class="toggle">
          {{ pages.take_me_back }}
        </p>
        <label class="switch">
          <input type="checkbox" id="page-toggle">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.core }}</h5>
        <p>{{ projects.description.core }}</p>
        <a class="btn" href="{{ links.core_docs.index }}" role="button">
          {{ projects.name.core }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.test }}</h5>
        <p>{{ projects.description.test }}</p>
        <a class="btn" href="{{ links.project_doc_home.test }}" role="button">
          {{ projects.name.test }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.translations.core_ja.title }}</h5>
        <p>{{ pages.translations.core_ja.text }}</p>
        <a class="btn" href="{{ links.site.core_ja }}" role="button">
          {{ pages.buttons.learn_more }}
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.archive.community.title }}</h5>
        <p>{{ pages.archive.community.intro }}</p>
        <a class="btn" href="{{ links.site.community_archive }}" role="button">
          {{ pages.buttons.archive }}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
