{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>
      <div class="width-8-12 width-12-12-m">
        <h2 class="page-title">{{ pages.developer.title }}</h2>
        <p class="intropara">{{ pages.developer.intro }}</p>
        <p class="feedback">{{ pages.feedback }}</p>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.developer.milestone.start }}</h3>
        <!--<p>{{ pages.developer.start.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.developer.start.setup }}" role="button">{{ pages.developer.start.setup }}</a>
          <a class="btn" href="{{ links.developer.start.conduct }}" role="button">{{ pages.developer.start.conduct }}</a>
          <a class="btn" href="{{ links.developer.start.learn }}" role="button">{{ pages.developer.start.learn }}</a>
          <a class="btn" href="{{ links.developer.start.code }}" role="button">{{ pages.developer.start.code }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.developer.milestone.contribute }}</h3>
        <!--<p>{{ pages.developer.contribute.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.developer.contribute.checklist }}" role="button">{{ pages.developer.contribute.checklist }}</a>
          <a class="btn" href="{{ links.developer.contribute.lifecycle }}" role="button">{{ pages.developer.contribute.lifecycle }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.developer.milestone.test }}</h3>
        <!--<p>{{ pages.developer.test.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.developer.test.learn }}" role="button">{{ pages.developer.test.learn }}</a>
          <a class="btn" href="{{ links.developer.test.run }}" role="button">{{ pages.developer.test.run }}</a>
          <a class="btn" href="{{ links.developer.test.integration }}" role="button">{{ pages.developer.test.integration }}</a>
          <a class="btn" href="{{ links.developer.test.unit }}" role="button">{{ pages.developer.test.unit }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.developer.milestone.create_collection }}</h3>
        <!--<p>{{ pages.developer.create_collection.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.developer.create_collection.skeleton }}" role="button">{{ pages.developer.create_collection.skeleton }}</a>
          <a class="btn" href="{{ links.developer.create_collection.test }}" role="button">{{ pages.developer.create_collection.test }}</a>
          <a class="btn" href="{{ links.developer.create_collection.distribute }}" role="button">{{ pages.developer.create_collection.distribute }}</a>
          <a class="btn" href="{{ links.developer.create_collection.request_inclusion }}" role="button">{{ pages.developer.create_collection.request_inclusion }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
