{% extends "_base.html" %}
{% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>
      <div class="width-8-12 width-12-12-m">
        <h2 class="page-title">{{ pages.ecosystem.title }}</h2>
        <p class="intropara">{{ pages.ecosystem.intro }}</p>
        <p class="feedback">{{ pages.feedback }}</p>
      </div>
      <div class="width-1-12 width-12-12-m">
        <p class="toggle">
          {{ pages.take_me_back }}
        </p>
        <label class="switch">
          <input type="checkbox" id="page-toggle">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.collections.name }}</h5>
        <p>{{ projects.collections.description }}</p>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.collections.user_guide }}" role="button">{{ projects.collections.user_guide }}</a>
          <a class="btn" href="{{ links.collections.contributor_guide }}" role="button">{{ projects.collections.contributor_guide }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.core }}</h5>
        <p>{{ projects.description.core }}</p>
        <a class="btn" href="{{ links.core_docs.index }}" role="button">
          {{ projects.name.core }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.navigator }}</h5>
        <p>{{ projects.description.navigator }}</p>
        <a class="btn" href="{{ links.project_doc_home.navigator }}" role="button">
          {{ projects.name.navigator }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.molecule }}</h5>
        <p>{{ projects.description.molecule }}</p>
        <a class="btn" href="{{ links.project_doc_home.molecule }}" role="button">
          {{ projects.name.molecule }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.lint }}</h5>
        <p>{{ projects.description.lint }}</p>
        <a class="btn" href="{{ links.project_doc_home.lint }}" role="button">
          {{ projects.name.lint }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.vscode }}</h5>
        <p>{{ projects.description.vscode }}</p>
        <a class="btn" href="{{ links.project_doc_home.vscode }}" role="button">
          {{ projects.name.vscode }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.als }}</h5>
        <p>{{ projects.description.als }}</p>
        <a class="btn" href="{{ links.project_doc_home.als }}" role="button">
          {{ projects.name.als }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.sdk }}</h5>
        <p>{{ projects.description.sdk }}</p>
        <a class="btn" href="{{ links.project_doc_home.sdk }}" role="button">
          {{ projects.name.sdk }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.runner }}</h5>
        <p>{{ projects.description.runner }}</p>
        <a class="btn" href="{{ links.project_doc_home.runner }}" role="button">
          {{ projects.name.runner }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.builder }}</h5>
        <p>{{ projects.description.builder }}</p>
        <a class="btn" href="{{ links.project_doc_home.builder }}" role="button">
          {{ projects.name.builder }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.receptor }}</h5>
        <p>{{ projects.description.receptor }}</p>
        <a class="btn" href="{{ links.project_doc_home.receptor }}" role="button">
          {{ projects.name.receptor }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.eda }}</h5>
        <p>{{ projects.description.eda }}</p>
        <a class="btn" href="{{ links.project_doc_home.eda }}" role="button">
          {{ projects.name.eda }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.rulebook }}</h5>
        <p>{{ projects.description.rulebook }}</p>
        <a class="btn" href="{{ links.project_doc_home.rulebook }}" role="button">
          {{ projects.name.rulebook }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.galaxy }}</h5>
        <p>{{ projects.description.galaxy }}</p>
        <a class="btn" href="{{ links.project_doc_home.galaxy }}" role="button">
          {{ projects.name.galaxy }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.galaxy_ng }}</h5>
        <p>{{ projects.description.galaxy_ng }}</p>
        <a class="btn" href="{{ links.project_doc_home.galaxy_ng }}" role="button">
          {{ projects.name.galaxy_ng }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.sign }}</h5>
        <p>{{ projects.description.sign }}</p>
        <a class="btn" href="{{ links.project_doc_home.sign }}" role="button">
          {{ projects.name.sign }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.compat }}</h5>
        <p>{{ projects.description.compat }}</p>
        <a class="btn" href="{{ links.project_doc_home.compat }}" role="button">
          {{ projects.name.compat }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.pylibssh }}</h5>
        <p>{{ projects.description.pylibssh }}</p>
        <a class="btn" href="{{ links.project_doc_home.pylibssh }}" role="button">
          {{ projects.name.pylibssh }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.pinakes }}</h5>
        <p>{{ projects.description.pinakes }}</p>
        <a class="btn" href="{{ links.project_doc_home.pinakes }}" role="button">
          {{ projects.name.pinakes }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.awx }}</h5>
        <p>{{ projects.description.awx }}</p>
        <a class="btn" href="{{ links.project_doc_home.awx }}" role="button">
          {{ projects.name.awx }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ projects.name.awx_operator }}</h5>
        <p>{{ projects.description.awx_operator }}</p>
        <a class="btn" href="{{ links.project_doc_home.awx_operator }}" role="button">
          {{ projects.name.awx_operator }} documentation
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
