{% extends "_base.html" %}
{% block body %}
<section class="cards pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="core.html">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Core</h4>
              <p class="card-text">
                Ansible Core is the language and runtime that powers
                automation.
              </p>
            </div>
            <div class="card-footer">
              <a href="core.html" class="btn btn-outline-black"
                >Learn more</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible-navigator.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Navigator</h4>
              <p class="card-text">
                Ansible Navigator is a command-line tool for creating, reviewing,
                and troubleshooting Ansible content.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible-navigator.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://molecule.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Molecule</h4>
              <p class="card-text">
                Molecule helps you develop and test Ansible roles.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://molecule.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Row: Content creator -->
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible-lint.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Lint</h4>
              <p class="card-text">
                Lint improves code quality through proven best practices,
                patterns, and behaviors so that your Ansible content results
                in reliable and consistent automation.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible-lint.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4">
        <a
          href="https://marketplace.visualstudio.com/items?itemName=redhat.ansible"
        >
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible VS Code Extension</h4>
              <p class="card-text">
                The VS Code extention adds Ansible language support to
                Visual Studio Code and OpenVSX compatible editors.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://marketplace.visualstudio.com/items?itemName=redhat.ansible"
                class="btn btn-outline-black"
                >Go to the VS marketplace</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://als.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Language Server</h4>
              <p class="card-text">
                Ansible Language Server implements language server protocol
                (LSP) to highlight and check Ansible syntax.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://als.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible-sdk.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible SDK</h4>
              <p class="card-text">
                Ansible SDK is a toolkit that lets you harness the power and
                simplicity of Ansible automation directly from your
                applications.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible-sdk.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible-runner.readthedocs.io/en/stable/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Runner</h4>
              <p class="card-text">
                Ansible Runner provides a stable and consistent interface
                abstraction to Ansible.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible-runner.readthedocs.io/en/stable/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible-builder.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Builder</h4>
              <p class="card-text">
                Ansible Builder lets you create Execution Environments, which are container
                images that act as Ansible control nodes.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible-builder.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="https://receptor.readthedocs.io/en/latest/index.html">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Receptor</h4>
              <p class="card-text">
                Receptor is an overlay network that distributes workloads
                across a large and dispersed collection of nodes.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://receptor.readthedocs.io/en/latest/index.html"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://github.com/ansible/eda-server">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Event-Driven Ansible Server</h4>
              <p class="card-text">
                Event-Driven Ansible Server offers scalable and flexible automation that
                can subscribe to a wide variety of event sources.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/ansible/eda-server"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible-rulebook.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Rulebook</h4>
              <p class="card-text">
                Ansible Rulebook is a command-line tool that listens to events so
                your automation can react when software or system states change.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible-rulebook.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="https://galaxy.ansible.com/docs/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Galaxy</h4>
              <p class="card-text">
                Galaxy provides a hub for discovering and sharing Ansible community content.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://galaxy.ansible.com/docs/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://galaxyng.netlify.app/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Galaxy NG</h4>
              <p class="card-text">
                Galaxy NG jumpstarts automation projects with Ansible community content.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://galaxyng.netlify.app/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible.github.io/ansible-sign/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Sign</h4>
              <p class="card-text">
                Ansible Sign is a utility for signing and verifying Ansible content.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible.github.io/ansible-sign/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible-compat.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Compat</h4>
              <p class="card-text">
                Compat is a Python package that assists with compatibility
                between different Ansible releases, starting at version 2.9.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible-compat.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://ansible-pylibssh.readthedocs.io/en/latest/">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Ansible Pylibssh</h4>
              <p class="card-text">
                Ansible Pylibssh provides Python bindings for Ansible with the libssh project.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://ansible-pylibssh.readthedocs.io/en/latest/"
                class="btn btn-outline-black"
                >Visit the documentation</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://github.com/ansible/pinakes">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">Pinakes</h4>
              <p class="card-text">
                Pinakes lets you make Ansible job templates and workflows available to business users
                with an added layer of governance.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/ansible/pinakes"
                class="btn btn-outline-black"
                >Go to GitHub</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="https://github.com/ansible/awx">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">AWX</h4>
              <p class="card-text">
                AWX provides a web-based user interface, REST API, and task
                engine built on top of Ansible.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/ansible/awx"
                class="btn btn-outline-black"
                >Go to GitHub</a
              >
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://github.com/ansible/awx-operator">
          <div class="card border">
            <div class="card-body">
              <h4 class="card-title">AWX Operator</h4>
              <p class="card-text">
                Ansible AWX Operator offers built-in intelligence and operational
                best practices for deploying on Kubernetes environments.
              </p>
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/ansible/awx-operator"
                class="btn btn-outline-black"
                >Go to GitHub</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}