{% extends "_base.html" %}
{% block body %}
<section class="cards pt-0">
  <!--Start Ansible main cards-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h4>Welcome to Ansible documentation</h4>
        <p class="card-text">
          Ansible is a radically simple IT automation tool. Ansible can deploy
          software, configure systems, orchestrate advanced operations like
          continuous deployments and zero downtime rolling upgrades.
        </p>
        <div class="btn-group-vertical" role="group" aria-label="Ansible novice group">
            <a class="btn btn-primary" href="{{ links.core_docs.index }}" role="button">Learn more about Ansible automation</a>
            <a class="btn btn-primary" href="{{ links.core_docs.start }}" role="button">Get started with Ansible in a few easy steps</a>
            <a class="btn btn-primary" href="{{ links.core_docs.install }}" role="button">Install Ansible</a>
        </div>
      </div>
    </div>
    <div class="w-25 p-0">
      <div class="card-body">
        <h4>Ansible {{ base.ansible_version }} is now available</h4>
        <div class="clipboard">
          <pre><code id="clip">pip install ansible</code><button class="btn" data-clipboard-action="copy" data-clipboard-target="#clip"> <i class='far fa-clipboard'></i></button></pre>
        </div>
      </div>
    </div>
  </div>
  <!--Start users cards-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h5>Ansible users <i class="fas fa-cogs"></i></h5>
        <p class="card-text">
          Ansible playbooks are blueprints for automation. Lorem ipsum text to
          replace with abstract that matches persona high-level goals.
        </p>
        <div class="btn-group-vertical" role="group" aria-label="User group">
            <a class="btn btn-primary" href="{{ links.core_docs.inventory_guide }}" role="button">Build an inventory of managed nodes</a>
            <a class="btn btn-primary" href="{{ links.core_docs.playbook_guide }}" role="button">Write playbooks that deploy and configure nodes</a>
            <a class="btn btn-primary" href="{{ links.core_docs.collections_index }}" role="button">Use Ansible modules and plugins</a>
        </div>
      </div>
    </div>
    <div class="w-25 p-0">
      <div class="card-body">
        <h5>User tools</h5>
        <p class="card-text">
          Lorem ipsum text to replace with high-level overview of the Ansible
          user tools.
        </p>
        <a class="btn btn-primary" href="{{ base.pages.user }}" role="button">Explore Ansible projects</a>
      </div>
    </div>
  </div>
  <!--Start developers cards-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h5>Developers <i class="fas fa-code"></i></h5>
        <p class="card-text">
          Add Ansible functionality with plugins and modules. Lorem ipsum text
          to replace with abstract that matches persona high-level goals.
        </p>
        <div class="btn-group-vertical" role="group" aria-label="Developer group">
            <a class="btn btn-primary" href="{{ links.dev_docs.ansible_architecture }}" role="button">Learn Ansible architecture</a>
            <a class="btn btn-primary" href="{{ links.dev_docs.environment_setup }}" role="button">Set up a Python environment</a>
            <a class="btn btn-primary" href="{{ links.dev_docs.developing_modules }}" role="button">Start coding plugins</a>
        </div>
      </div>
    </div>
    <div class="w-25 p-0">
      <div class="card-body">
        <h5>Developer resources</h5>
        <p class="card-text">
          Lorem ipsum text to replace with high-level overview of the Ansible
          developer resources.
        </p>
        <a class="btn btn-primary" href="{{ base.pages.developer }}" role="button">Explore Ansible projects</a>
      </div>
    </div>
  </div>
  <!--Start collections cards-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h5>Collections <i class="fas fa-project-diagram"></i></h5>
        <p class="card-text">
          Extend automation with Ansible collections. Lorem ipsum text to
          replace with abstract that matches persona high-level goals.
        </p>
        <div class="btn-group-vertical" role="group" aria-label="Collections group">
          <a class="btn btn-primary" href="https://docs.ansible.com/ansible/latest/inventory_guide/index.html" role="button">Finding and using Ansible collections</a>
          <a class="btn btn-primary" href="https://docs.ansible.com/ansible/latest/playbook_guide/index.html" role="button">Contributing to collections</a>
          <a class="btn btn-primary" href="https://docs.ansible.com/ansible/latest/collections/all_plugins.html" role="button">Maintaining collections</a>
        </div>
      </div>
    </div>
    <div class="w-25 p-0">
      <div class="card-body">
        <h5>Collections resources</h5>
        <p class="card-text">
          Lorem ipsum text to replace with high-level overview of the Ansible
          collections resources.
        </p>
        <a class="btn btn-primary" href="{{ base.pages.collections }}" role="button">Explore Ansible projects</a>
      </div>
    </div>
  </div>
  <!--Start community cards-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h5>Community <i class="fas fa-users"></i></h5>
        <p class="card-text">
          Join the Ansible community with this call to action. Lorem ipsum text to
          replace with abstract that matches persona high-level goals.
        </p>
        <div class="btn-group-vertical" role="group" aria-label="Community group">
          <a class="btn btn-primary" href="https://docs.ansible.com/ansible/latest/inventory_guide/index.html" role="button">Finding and using Ansible collections</a>
          <a class="btn btn-primary" href="https://docs.ansible.com/ansible/latest/playbook_guide/index.html" role="button">Contributing to collections</a>
          <a class="btn btn-primary" href="https://docs.ansible.com/ansible/latest/collections/all_plugins.html" role="button">Maintaining collections</a>
        </div>
      </div>
    </div>
    <div class="w-25 p-0">
      <div class="card-body">
        <h5>Ansible community resources</h5>
        <p class="card-text">
          Lorem ipsum text to replace with high-level overview of the Ansible
          community resources.
        </p>
        <a class="btn btn-primary" href="{{ base.pages.community }}" role="button">Join the Ansible community</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
