{% extends "_base.html" %}
{% block body %}
<section class="cards pt-0">
  <!--Start Ansible main cards-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h4>{{ pages.index.welcome }}</h4>
        <p class="card-text">{{ pages.index.about_ansible }}</p>
        <!--Start novice section-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.index.novice_actions.label }}">
            <a class="btn btn-primary" href="{{ links.novice_actions.learn }}" role="button">{{ pages.index.novice_actions.learn }}</a>
            <a class="btn btn-primary" href="{{ links.novice_actions.install }}" role="button">{{ pages.index.novice_actions.install }}</a>
            <a class="btn btn-primary" href="{{ links.novice_actions.start }}" role="button">{{ pages.index.novice_actions.start }}</a>
        </div>
      </div>
    </div>
    <!--Ansible version and pip installation clipboard-->
    <div class="w-25 p-0">
      <div class="card-body">
        <h4>{{ pages.ansible_pkg.announce }}</h4>
        <div class="clipboard">
          <pre><code id="clip">{{ pages.ansible_pkg.pip_install }}</code><button class="btn" data-clipboard-action="copy" data-clipboard-target="#clip"> <i class='far fa-clipboard'></i></button></pre>
        </div>
        <a class="btn btn-primary" href="{{ links.pkg_docs.install }}" role="button">{{ pages.index.install_action }}</a>
      </div>
    </div>
  </div>
  <!--Start user section-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h5>{{ pages.index.user_heading }} <i class="fas fa-cogs"></i></h5>
        <p class="card-text">{{ pages.index.user_body }}</p>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.index.user_actions.label }}">
            <a class="btn btn-primary" href="{{ links.user_actions.automate }}" role="button">{{ pages.index.user_actions.automate }}</a>
            <a class="btn btn-primary" href="{{ links.user_actions.evaluate_plugins }}" role="button">{{ pages.index.user_actions.evaluate_plugins }}</a>
            <a class="btn btn-primary" href="{{ links.user_actions.build_inventory }}" role="button">{{ pages.index.user_actions.build_inventory }}</a>
        </div>
      </div>
    </div>
    <div class="w-25 p-0">
      <div class="card-body">
        <h5>{{ pages.index.user_resources_heading }}</h5>
        <p class="card-text">{{ pages.index.user_resources_body }}</p>
        <a class="btn btn-primary" href="{{ pages.site.user }}" role="button">{{ pages.index.user_resources_action }}</a>
      </div>
    </div>
  </div>
  <!--Start developer section-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h5>{{ pages.index.developer_heading }} <i class="fas fa-code"></i></h5>
        <p class="card-text">{{ pages.index.developer_body }}</p>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.developer.start.label }}">
            <a class="btn btn-primary" href="{{ links.developer.start.setup }}" role="button">{{ pages.developer.start.setup }}</a>
            <a class="btn btn-primary" href="{{ links.developer.start.conduct }}" role="button">{{ pages.developer.start.conduct }}</a>
            <a class="btn btn-primary" href="{{ links.developer.start.code }}" role="button">{{ pages.developer.start.code }}</a>
        </div>
      </div>
    </div>
    <div class="w-25 p-0">
      <div class="card-body">
        <h5>{{ pages.index.developer_resources_heading }}</h5>
        <p class="card-text">{{ pages.index.developer_resources_body }}</p>
        <a class="btn btn-primary" href="{{ pages.site.developer }}" role="button">{{ pages.index.developer_resources_action }}</a>
      </div>
    </div>
  </div>
  <!--Start community maintainer section-->
  <div class="row justify-content-center">
    <div class="w-50 p-0">
      <div class="card-body">
        <h5>{{ pages.index.maintainer_heading }} <i class="fas fa-project-diagram"></i></h5>
        <p class="card-text">{{ pages.index.maintainer_body }}</p>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.index.maintainer_actions.label }}">
          <a class="btn btn-primary" href="{{ links.maintainer_actions.overview }}" role="button">{{ pages.index.maintainer_actions.overview}}</a>
          <a class="btn btn-primary" href="{{ links.maintainer_actions.learn }}" role="button">{{ pages.index.maintainer_actions.learn }}</a>
          <a class="btn btn-primary" href="{{ links.maintainer_actions.join }}" role="button">{{ pages.index.maintainer_actions.join }}</a>
        </div>
      </div>
    </div>
    <div class="w-25 p-0">
      <div class="card-body">
        <h5>{{ pages.index.maintainer_resources_heading }}</h5>
        <p class="card-text">{{ pages.index.maintainer_resources_body }}</p>
        <a class="btn btn-primary" href="{{ pages.site.maintainer }}" role="button">{{ pages.index.maintainer_resources_action }}</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
