{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <!--<div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>-->
      <div class="width-9-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.index.title }}</h2>
          <p>{{ pages.index.intro }}</p>
          <p class="feedback">{{ pages.feedback }}</p>
        </div>
      </div>
      <!-- Start quicklinks. -->
      <div class="width-3-12 width-12-12-m">
        <div class="quicklinks">
          <h2>{{ pages.quicklinks.heading }}</h2>
          <ul class="fa-ul">
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ links.pkg_docs.index }}" target="_blank">{{ pages.ansible_pkg.docs }}</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ ecosystem.collections.docs.index.link }}" target="_blank">{{ pages.ansible_pkg.collections_index }}</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ ecosystem.collections.docs.plugin_index.link }}" target="_blank">{{ pages.ansible_pkg.module_index }}</a>
            </li>
          </ul>
          <hr />
        </div>
      </div>
      <!-- End quicklinks. -->
      <div class="width-6-12 width-12-12-m">
        <h4>{{ pages.index.novice_heading }} <i class="fas fa-rocket"></i></h4>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.novice.learn }}" role="button">{{ pages.novice.learn }}</a>
          <a class="btn" href="{{ links.novice.install }}" role="button">{{ pages.novice.install }}</a>
          <a class="btn" href="{{ links.novice.start }}" role="button">{{ pages.novice.start }}</a>
        </div>
      </div>
      <!-- Start user section -->
      <div class="width-6-12 width-12-12-m">
        <h4>{{ pages.index.user_heading }} <i class="fas fa-cogs"></i></h4>
        <!--<p class="card-text">{{ pages.index.user_body }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.user.automate.start }}" role="button">{{ pages.user.automate.start }}</a>
          <a class="btn" href="{{ links.user.automate.evaluate_plugins }}" role="button">{{ pages.user.automate.evaluate_plugins }}</a>
          <a class="btn" href="{{ links.user.build_inventory.multiple_hosts }}" role="button">{{ pages.user.build_inventory.multiple_hosts }}</a>
          <a class="btn" href="{{ links.site.user }}" role="button"><i class="fas fa-angle-double-right"></i>&nbsp;{{ pages.index.user_resources_action }}</a>
        </div>
      </div>
      <!-- Start developer section -->
      <div class="width-6-12 width-12-12-m">
        <h4>{{ pages.index.developer_heading }} <i class="fas fa-code"></i></h4>
        <!--<p class="card-text">{{ pages.index.developer_body }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.developer.start.setup }}" role="button">{{ pages.developer.start.setup }}</a>
          <a class="btn" href="{{ links.developer.start.learn }}" role="button">{{ pages.developer.start.learn }}</a>
          <a class="btn" href="{{ links.developer.start.code }}" role="button">{{ pages.developer.start.code }}</a>
          <a class="btn" href="{{ links.site.developer }}" role="button"><i class="fas fa-angle-double-right"></i>&nbsp;{{ pages.index.developer_resources_action }}</a>
        </div>
      </div>
      <!-- Start community maintainer section -->
      <div class="width-6-12 width-12-12-m">
        <h4> {{ pages.index.maintainer_heading }} <i class="fas fa-project-diagram"></i>
        </h4>
        <!--<p class="card-text">{{ pages.index.maintainer_body }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.maintainer.learn.guidelines }}" role="button">{{ pages.maintainer.learn.guidelines }}</a>
          <a class="btn" href="{{ links.maintainer.build_community.contributor_paths }}" role="button">{{ pages.maintainer.build_community.contributor_paths }}</a>
          <a class="btn" href="{{ links.maintainer.build_community.grow_community }}" role="button">{{ pages.maintainer.build_community.grow_community }}</a>
          <a class="btn" href="{{ links.site.maintainer }}" role="button"><i class="fas fa-angle-double-right"></i>&nbsp;{{ pages.index.maintainer_resources_action }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
