{% extends "_base.html" %}
{% block body %}
<div class="container">
    <div class="full-width-bg component">
      <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>
      <div class="width-7-12 width-12-12-m">
        <h2 class="page-title">{{ pages.maintainer.title }}</h2>
        <p class="intropara">{{ pages.maintainer.intro }}</p>
        <p class="feedback">{{ pages.feedback }}</p>
      </div>
      <!-- Start quicklinks. -->
      <div class="width-2-12 width-12-12-m">
        <div class="quicklinks">
          <h2>{{ pages.quicklinks.heading }}</h2>
          <ul class="fa-ul">
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ links.pkg_docs.index }}" target="_blank">{{ pages.ansible_pkg.docs }}</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ links.collections.plugin_index }}" target="_blank">{{ pages.ansible_pkg.module_index }}</a>
            </li>
          </ul>
          <hr />
        </div>
        <div class="toggle">
          <p>{{ pages.take_me_back }}&nbsp;
            <label class="switch">
              <input type="checkbox" id="page-toggle">
              <span class="slider round"></span>
            </label>
          </p>
        </div>
      </div>
      <!-- End quicklinks. -->
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.maintainer.milestone.learn }}</h3>
        <!--<p>{{ pages.maintainer.learn.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.maintainer.learn.guidelines }}" role="button">{{ pages.maintainer.learn.guidelines }}</a>
          <a class="btn" href="{{ links.maintainer.learn.backports }}" role="button">{{ pages.maintainer.learn.backports }}</a>
          <a class="btn" href="{{ links.maintainer.learn.release }}" role="button">{{ pages.maintainer.learn.release }}</a>
          <a class="btn" href="{{ links.maintainer.learn.documentation }}" role="button">{{ pages.maintainer.learn.documentation }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.maintainer.milestone.build_community }}</h3>
        <!--<p>{{ pages.maintainer.build_community.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.maintainer.build_community.grow_community }}" role="button">{{ pages.maintainer.build_community.grow_community }}</a>
          <a class="btn" href="{{ links.maintainer.build_community.documentation }}" role="button">{{ pages.maintainer.build_community.documentation }}</a>
          <a class="btn" href="{{ links.maintainer.build_community.contributor_paths }}" role="button">{{ pages.maintainer.build_community.contributor_paths }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.maintainer.milestone.collection_inclusion }}</h3>
        <!--<p>{{ pages.maintainer.collection_inclusion.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.maintainer.collection_inclusion.process }}" role="button">{{ pages.maintainer.collection_inclusion.process }}</a>
          <a class="btn" href="{{ links.maintainer.collection_inclusion.review }}" role="button">{{ pages.maintainer.collection_inclusion.review }}</a>
          <a class="btn" href="{{ links.maintainer.collection_inclusion.submit }}" role="button">{{ pages.maintainer.collection_inclusion.submit }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.maintainer.milestone.participate }}</h3>
        <!--<p>{{ pages.maintainer.participate.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.maintainer.participate.join }}" role="button">{{ pages.maintainer.participate.community_topics }}</a>
          <a class="btn" href="{{ links.maintainer.participate.join }}" role="button">{{ pages.maintainer.participate.join }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
