{% extends "_base.html" %} {% block body %}
<div class="container">
    <div class="full-width-bg component">
      <div class="grid-wrapper">
        <div class="width-3-12 width-12-12-m">
          <img class="rh-logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg">
        </div>
        <div class="width-9-12 width-12-12-m">
          <h2 class="page-title">{{ pages.platform.title }}</h2>
          <p class="intropara">{{ pages.platform.intro }}</p>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h3>{{ pages.platform.access.title }}</h3>
          <p>{{ pages.platform.access.text }}</p>
          <a class="btn" href="{{ links.platform.access_redhat }}" role="button">{{ pages.buttons.access_redhat }}</a>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h3>{{ pages.platform.controller.quickstart.title }}</h3>
          <p>{{ pages.platform.controller.quickstart.text }}</p>
          <a class="btn" href="{{ links.platform.quickstart }}" role="button">{{ pages.buttons.visit_docs }}</a>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h3>{{ pages.platform.controller.release_notes.title }}</h3>
          <p>{{ pages.platform.controller.release_notes.text }}</p>
          <a class="btn" href="{{ links.platform.release_notes }}" role="button">{{ pages.buttons.visit_docs }}</a>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h3>{{ pages.platform.controller.upgrade_migration.title }}</h3>
          <p>{{ pages.platform.controller.upgrade_migration.text }}</p>
          <a class="btn" href="{{ links.platform.upgrade_migration }}" role="button">{{ pages.buttons.visit_docs }}</a>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h3>{{ pages.platform.controller.user_guide.title }}</h3>
          <p>{{ pages.platform.controller.user_guide.text }}</p>
          <a class="btn" href="{{ links.platform.user_guide }}" role="button">{{ pages.buttons.visit_docs }}</a>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h3>{{ pages.platform.controller.administration.title }}</h3>
          <p>{{ pages.platform.controller.administration.text }}</p>
          <a class="btn" href="{{ links.platform.administration }}" role="button">{{ pages.buttons.visit_docs }}</a>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h3>{{ pages.platform.controller.api.title }}</h3>
          <p>{{ pages.platform.controller.api.text }}</p>
          <a class="btn" href="{{ links.platform.api }}" role="button">{{ pages.buttons.visit_docs }}</a>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h3>{{ pages.platform.controller.cli.title }}</h3>
          <p>{{ pages.platform.controller.cli.text }}</p>
          <a class="btn" href="{{ links.platform.cli }}" role="button">{{ pages.buttons.visit_docs }}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
