{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <!--<div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>-->
      <div class="width-9-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.user.title }}</h2>
          <p>{{ pages.user.intro }}</p>
          <p class="feedback">{{ pages.feedback }}</p>
        </div>
      </div>
      <!-- Start quicklinks. -->
      <div class="width-3-12 width-12-12-m">
        <div class="quicklinks">
          <h2>{{ pages.quicklinks.heading }}</h2>
          <ul class="fa-ul">
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ links.quicklinks.yaml_syntax }}" target="_blank">{{ pages.quicklinks.yaml_syntax }}</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ links.quicklinks.playbook_variables }}" target="_blank">{{ pages.quicklinks.playbook_variables }}</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ links.quicklinks.playbook_conditionals }}" target="_blank">{{ pages.quicklinks.playbook_conditionals }}</a>
            </li>
          </ul>
          <hr />
        </div>
      </div>
      <!-- End quicklinks. -->
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.user.milestone.automate }}</h3>
        <!--<p>{{ pages.user.automate.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.user.automate.start }}" role="button">{{ pages.user.automate.start }}</a>
          <a class="btn" href="{{ links.user.automate.evaluate_plugins }}" role="button">{{ pages.user.automate.evaluate_plugins }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.user.milestone.build_inventory }}</h3>
        <!--<p>{{ pages.user.build_inventory.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.user.build_inventory.multiple_hosts }}" role="button">{{ pages.user.build_inventory.multiple_hosts }}</a>
          <a class="btn" href="{{ links.user.build_inventory.dynamic }}" role="button">{{ pages.user.build_inventory.dynamic }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.user.milestone.organize }}</h3>
        <!--<p>{{ pages.user.organize.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.user.organize.roles }}" role="button">{{ pages.user.organize.roles }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.user.milestone.tooling }}</h3>
        <!--<p>{{ pages.user.tooling.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ ecosystem.lint.docs.home }}" role="button">{{ pages.user.tooling.lint }}</a>
          <a class="btn" href="{{ ecosystem.molecule.docs.home }}" role="button">{{ pages.user.tooling.molecule }}</a>
          <a class="btn" href="{{ ecosystem.navigator.docs.home }}" role="button">{{ pages.user.tooling.navigator }}</a>
          <a class="btn" href="{{ ecosystem.vscode.docs.home }}" role="button">{{ pages.user.tooling.vscode }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.user.milestone.find }}</h3>
        <!--<p>{{ pages.user.find.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.user.find.explore_galaxy }}" role="button">{{ pages.user.find.explore_galaxy }}</a>
          <a class="btn" href="{{ links.user.find.install_roles }}" role="button">{{ pages.user.find.install_roles }}</a>
          <a class="btn" href="{{ links.user.find.install_collections }}" role="button">{{ pages.user.find.install_collections }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.user.milestone.share }}</h3>
        <!--<p>{{ pages.user.share.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.user.share.submit_roles }}" role="button">{{ pages.user.share.submit_roles }}</a>
          <a class="btn" href="{{ links.user.share.create_collection }}" role="button">{{ pages.user.share.create_collection }}</a>
          <a class="btn" href="{{ links.user.share.upload_collection }}" role="button">{{ pages.user.share.upload_collection }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.user.milestone.awx }}</h3>
        <!--<p>{{ pages.user.awx.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.user.awx.on_demand_jobs }}" role="button">{{ pages.user.awx.on_demand_jobs }}</a>
          <a class="btn" href="{{ links.user.awx.schedule_jobs }}" role="button">{{ pages.user.awx.schedule_jobs }}</a>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h3>{{ pages.user.milestone.executor }}</h3>
        <!--<p>{{ pages.user.executor.intro }}</p>-->
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ links.user.executor.build_ees }}" role="button">{{ pages.user.executor.build_ees }}</a>
          <a class="btn" href="{{ links.user.executor.use_ees }}" role="button">{{ pages.user.executor.use_ees }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
